<div class="container text-center">
  <h1><%= @restaurant.name %></h1>
</div>
<br>
<div class="container">
  <h4>Serves <%= @restaurant.category %> food</h3>
  <br>
  <h4>Address: <%= @restaurant.address %></h4>
  <br>
  <h4>Number: <%= @restaurant.phone_number %></h4>
  <br>
  <h3>Reviews</h3>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.rating %> - <%= review.content %> - by Anonymous</li>
    <% end %>
  </ul>
</div>

<div class="container">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>
</div>

<div class="container align-items-center">
  <h2>Leave a review</h2>
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :rating, collection: (0..5) %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
